[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pytest = "*"
pytest-html = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
